body{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
 header{
    width: 100px;
    height: 60vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
 }
 .header-image{
    position: absolute;
    top: -20vh;
    z-index: -1;
    
 }